{% load static % }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1> this boost file</h1>
    <h1><marquee> this new file boost2 </marquee></h1>
    <img src="{ % static'images/00.jpg' % }" >

    <div class="card" style="width: 18rem;">
        <img src={%  static'images/00.jpg' % }class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="C:\Users\vamsi\Desktop\django  folder\kalyan\Scripts\boost2\static\images\00.jpg" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </center>
    
</body>
</html>